<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Black de la Jack</title>
</head>
<body>
    <h1>Black de la Jack</h1>
    <p>Click the button to send some fake sensor data:</p>
    <button onclick="sendData()">Send Data</button>

    <table id="TABLE">
      <thead>
        <tr>
          <th>date</th>
          <th>temperature</th>
          <th>humidity</th>
          <th>other</th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
           <td><%= new Date(record.date).toLocaleString() %></td>
           <td><%= record.temperature.toFixed(2) %></td>
           <td><%= record.humidity.toFixed(2) %></td>
           <td><%= record.other %></td>
          </tr>
         <% }) %>
      </tbody>
    </table>

    <script>
        async function sendData() {
            const data = {
                date: new Date().toISOString(),
                temperature: (Math.random() * 10 + 20),
                humidity: (Math.random() * 20 + 50),
                other: "Test Data"
            };

            const response = await fetch('/json', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            });

            const result = await response.text();
        }
        document.addEventListener('DOMContentLoaded', async () => {
          const eS = new EventSource('/events');
          eS.onopen = () => console.log('Connection established');
          eS.onmessage = (event) => {
            console.log(event.data);
            const data = JSON.parse(event.data);
            const table = document.querySelector('#TABLE tbody');
            const row = table.insertRow(0);
            const date = row.insertCell(0);
            const temperature = row.insertCell(1);
            const humidity = row.insertCell(2);
            const other = row.insertCell(3);
            date.innerHTML = new Date(data.date).toLocaleString();
            temperature.innerHTML = data.temperature.toFixed(2);
            humidity.innerHTML = data.humidity.toFixed(2);
            other.innerHTML = data.other;
          };
          eS.onerror = eS.close;
        });
    </script>
</body>
</html>